<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-request.html">

<dom-module id="login-app">
  <template>
   <style>
     :host {
      display: block;
     }
   </style>

   <body class="bg-dark">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="inputUser1">User</label>
              <input class="form-control" id="inputUser1" type="text" value="{{propUser1::input}}" placeholder=[[propInitialValue4]]>
            </div>
            <div class="form-group">
              <label for="inputPassword1">Password</label>
              <input class="form-control" id="inputPassword1" type="password" value="{{propPassword2::input}}" placeholder=[[propInitialValue5]]>
            </div>
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="{{propRemember3::input}}"> Remember Password</label>
              </div>
            </div>
            <a on-click="loginMethod" class="btn btn-primary btn-block">Login</a>
          </form>
          <div class="text-center">
            <a on-click="registerMethod" class="d-block small mt-3">Register an Account</a>
            <a on-click="forgotPasswordMethod" class="d-block small">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
   </body>

</template>

<script>
        /**
         * Metodo login
         */
         class LoginApp extends Polymer.Element {
                 static get is() { return 'login-app'; }
                 static get properties() {
                   return {
                     propUser1: {
                       type: String
                     },
                     propPassword2: {
                       type: String
                     },
                     propRemember3: {
                       type: String
                     },
                     propInitialValue4: {
                       type: String,
                       value:"Introduzca usuario"
                     },
                     propInitialValue5: {
                       type: String,
                       value:"Introduzca password"
                     },
                     propdatosNoRecuperados6: {
                       type: Boolean,
                       value: true
                     }
                   };
                 }
/*
                 validarUser()
                 {
                   if (this.propUser1== "Silvia.arranz@bbva.com")
                      {
                       console.log("pasa");
                      }

                   }
*/
                   var urlLogin="http://localhost:3000/login";
/*
                   var urlLogin="http://servidorback/login";
*/

                   loginMethod() {
                     var request = new XMLHttpRequest();
                     /*
                     request.open("POST", "http://servidorback/login", false);
                     */
                     request.open("POST", urlLogin, true);
                     request.setRequestHeader("Accept", "application/json");
                     request.setRequestHeader("Content-Type", "application/json");
                     var validoUsuario = {"login":this.propUser1,"password":this.propPassword2}
                     var body = JSON.stringify(validoUsuario);
                     request.send(body);
                     this.respuesta = request.responseText;
                     console.log(this.respuesta);
                     this.propdatosNoRecuperados6 = false;
                   }

                   /*anadirCliente() {
                     var request = new XMLHttpRequest();
                     request.open("POST", "http://servidorback/clientes", false);
                     request.setRequestHeader("Accept", "application/json");
                     request.setRequestHeader("Content-Type", "application/json");
                     var nuevoCliente = {"idcliente":"12345","nombre":"Pepe","apellido":"Garcia"};
                     var body = JSON.stringify(nuevoCliente);
                     request.send(body);
                     this.respuesta = request.responseText;
                     console.log(this.respuesta);
                     this.noCargados = false;
                   }*/



               }

        window.customElements.define(LoginApp.is, LoginApp);
  </script>
  </dom-module>
