<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="movimientos-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>
    <button on-click="demo">Demoar</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      demo() {
        this.prop2 = 12345;
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'movimientos-app'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
