<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="register-app">

  <template>

   <style>
     :host {
      display: block;
     }
   </style>
   <body class="bg-dark">
     <div class="container">
       <div class="card card-register mx-auto mt-5">
         <div class="card-header">Register an Account</div>
         <div class="card-body">
           <form>
             <div class="form-group">
               <div class="form-row">
                 <div class="col-md-6">
                   <label for="inputName">First name</label>
                   <input class="form-control" id="inputName1" type="text" value="{{propNombre3::input}}" aria-describedby="nameHelp" placeholder="Introduzca su nombre">
                 </div>
                 <div class="col-md-6">
                   <label for="iputLastName">Last name</label>
                   <input class="form-control" id="inputLastName1" type="text" value="{{propApellido4::input}}" aria-describedby="nameHelp" placeholder="Introduzca su apellido">
                 </div>
               </div>
             </div>
             <div class="form-group">
               <label for="inputUser">User ID</label>
               <input class="form-control" id="inputUser1" type="text" value="{{propUser1::input}}" aria-describedby="userHelp" placeholder="Introduzca usuario DNI/NIE">
             </div>
             <div class="form-group">
               <div class="form-row">
                 <div class="col-md-6">
                   <label for="inputPassword1">Password</label>
                   <input class="form-control" id="inputPassword1" type="password" value="{{propPassword2::input}}" placeholder="Introduzca su Password">
                 </div>
                 <div class="col-md-6">
                   <label for="confirmPassword">Confirm password</label>
                   <input class="form-control" id="confirmPassword1" type="password" value="{{propConfirmPassword6::input}}" placeholder="Confirme su password">
                 </div>
               </div>
             </div>
             <a class="btn btn-primary btn-block" href="login-app.html">Register</a>
           </form>
           <div class="text-center">
             <a class="d-block small mt-3" href="login-app.html">Login Page</a>
             <a class="d-block small" href="forgotpassword-app.html">Forgot Password?</a>
           </div>
         </div>
       </div>
     </div>
   </body>

   </template>

   <script>
           /**
            * Metodo register
            */
            class RegisterApp extends Polymer.Element {
              static get is() { return 'register-app'; }
              static get properties() {
                return {
                  propUser1: {
                    type: String
                  },
                  propPassword2: {
                    type: String,
                    value:""
                  },
                  propNombre3: {
                    type: String,
                    value:""
                  },
                  propApellido4: {
                    type: String,
                    value:""
                  },
                  propEmail5: {
                    type: String,
                    value:""
                  },
                  propConfirmPassword6:{
                    type: String,
                    value:""
                  },
                  propdatosNoRegistrados7: {
                    type: Boolean,
                    value: true
                  }
                };
              }
              */
           var urlRegister="http://localhost:3000/register";
              /*
                                 var urlLogin="http://servidorback/register";
              */

              registerMethod() {
                var request = new XMLHttpRequest();
                request.open("POST", urlRegister, true);
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-Type", "application/json");
                var nuevoUsuario = {"login":this.propUser1,"password":this.propPassword2,"nombre":this.propNombre3,"apellidos":this.propApellido4,"email":this.propEmail5}
                var body = JSON.stringify(nuevoUsuario);
                request.send(body);
                this.respuesta = request.responseText;
                console.log(this.respuesta);
                this.propdatosNoRegistrados7 = false;
              }

            }

            window.customElements.define(RegisterApp.is, RegisterApp);
   </script>
 </dom-module>
